.flexbox{
    display: flex;
}
.flex-justify-between{
    justify-content: space-between;
}
.flex-justify-around{
    justify-content: space-around;
}
.flex-justify-evenly{
    justify-content: space-evenly;
}