body { background: #f9f9f9; }
.normal-container{ background: pink }
.flex-container { background: cornflowerblue; }
.item-1{ background-color: firebrick; }
.item-2{ background-color:rebeccapurple; }
.item-3{ background-color: goldenrod; }
.box{
    height: 100px;
    min-width: 100px;
}

/* [=== Regular ===] */
.normal-container:after{
    content:"";
    display: block;
    clear: both;
}
.normal-container .box{
    float: left;
}

/* [=== Flexbox ===] */
.flex-container {
    display: flex
}